<section class="phx-hero">
  <h1>Display the things</h1>
  <p>This is where you display the things</p>
</section>

<%= for thing <- @things do %>
  <%= display_thing_and_name(thing) %>
  <br/>
<% end %>