<section class="phx-hero">
  <h1>Write a thing</h1>
  <p>This is where you write the thing</p>
</section>


<%= live_render(@conn, ElixirsandboxWeb.Components.FormLive, session: %{
  show_form: false,
  thing_name: "",
  thing: ""
})%>