<section class="phx-hero">
  <h1>Thing Generator</h1>
  <div>Create and View Things!</div>
  <div style="font-size:8px">Things are just quotes, fyi</div>
</section>

<section class="row">
  <article class="column">
    <h2>Create things</h2>
     <%= link("Make the things", to: "/create")%>
  </article>
  <article class="column">
    <h2>See the things</h2>
    <%= link("Look at the things", to: "/display")%>
  </article>
</section>
